.dashboard-container {
    display: flex;
    flex-direction: row;
    background-color: orange;
    min-height: 100vh;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
  }
  
  .my-bookings-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .search-container {
    margin-bottom: 20px;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .button-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .filter-button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow-y: auto;
  }
  